*, *::before, *::after {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

html, body, #mouseBox, #settings-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    user-select: none;
    text-align: center;
}

main {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
}

/* mouse effects */
#mouseBox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#mouseBox line {
    stroke: #beef;
}

#mouseBox rect {
    fill: #bee2;
    stroke: #beef;
}

/* header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #333;
    box-shadow: 0 2px 10px 0 black;
    z-index: 1;
}

header h1 {
    font-size: 0em;
    margin: 0 10px;
    transform: translateY(-100%);
    transition: transform .5s;
}

#toggleSettings {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    border: 5px solid #777;
    background-color: transparent;
    font-size: 2em;
    color: white;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navbar */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #333;
    box-shadow: 0 2px 10px 0 black;
    z-index: 1;
}

nav {
    transform: translateY(-50%);
}

nav a {
    font-size: 2em;
    padding: 10px;
    margin: auto 20px;
    position: relative;
}

nav a:hover:not(.active) {
    background-color: #333;
}

.active {
    border-bottom: 2px solid #beef;
    background-color: #222;
    margin-bottom: 0;
}

/* navbar - border hover animation */
nav a:not(.active)::before, nav a:not(.active)::after {
    position: absolute;
    width: 0;
    height: 2px;
    top: 0;
    content: "";
    background-color: #beef;
    opacity: 0;
    transition: all .3s;
}

nav a::before {
    left: 50%;
}

nav a::after {
    right: 50%;
}

nav a:hover::before, nav a:hover::after {
    width: 50%;
    opacity: 1;
}

/* Settings */
#settings-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
    background-color: #0007;
    align-items: center;
    justify-content: center;
}

#settings-wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

#settings-wrapper input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    opacity: 0;
}

svg.checkbox, svg.colorpicker {
    width: 60px;
    height: 60px;
    border: 5px solid #777;
    margin: 5px;
    background-color: #fff1;
}

input:not(:disabled) + label svg.colorpicker {
    border-color: #6a6;
}

input:checked:not(:disabled) + label svg.checkbox {
    border-color: #6a6;
}

input:checked + label svg.checkbox .off {
    display: none;
}

input:not(:checked) + label .checkbox .on {
    display: none;
}

#lineEffect + label line {
    stroke: #beef;
    stroke-width: 2px;
}

#clickColor + label line:not(:nth-child(1n+5)), #autoColor + label line {
    stroke: #c44;
    stroke-width: 2px;
}

#clickColor:checked + label line:nth-child(2), #autoColor:checked + label line:nth-child(2) {
    stroke: #c74;
}

#clickColor:checked + label line:nth-child(3), #autoColor:checked + label line:nth-child(3) {
    stroke: #cc4;
}

#clickColor:checked + label line:nth-child(4), #autoColor:checked + label line:nth-child(4) {
    stroke: #7c4;
}

#clickColor + label line {
    stroke: #fff;
}

#setColor + label line {
    stroke: #beef;
    stroke-width: 2px;
}

#boxEffect + label rect {
    stroke: #59a;
    fill: #59a2;
}

#boxEffect + label line {
    stroke: #c44;
    stroke-width: 2px;
}

#hideBox + label rect {
    fill: #7772;
    stroke: #777;
}

#hideBox:checked + label rect {
    stroke-dasharray: 4px;
    fill: transparent;
}

#skipAnim + label rect {
    fill: #333;
}

#skipAnim + label rect.on {
    fill: #2227;
}

#skipAnim + label text {
    fill: #ffff;
}

#skipAnim + label text.on {
    fill: #fff7;
}

/* Home */
#intro {
    display: inline-block;
}

#progBarBox {
    height: 27px;
}

#progressBar {
    width: 40%;
    height: 0;
    padding: 1px;
    margin: auto;
    background-color: #ddd;
}

#myProgress {
    width: 0%;
    max-width: 100%;
    height: 100%;
    background-color: #222;
    color: #777;
}

/* Looks */
#imgs img {
    display: block;
}

#imgs div {
    position: relative;
    display: inline-block;
}

#irl-img {
    margin-right: 88px;
}

#irl-img img {
    width: 420px;
    background-color: #333;
}

#irl-img::before {
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    content: "I'm not gonna show how I look like";
    transition: all .3s;
    background-color: #0003;
    line-height: 40px;
    font-size: 1.2em;
}

#irl-img:hover::before {
    height: 40px;
}

#wikiAvatar {
    transition: all .3s;
}

#wikiAvatar img {
    width: 228px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    background-color: #333;
    box-shadow: inset 0 0 50px 50px #222;
}

#wikiAvatar img:hover {
    background-color: #444;
}

#wikiAvatar::before {
    width: 0;
    height: 0;
    top: 40%;
    right: 50%;
    position: absolute;
    overflow: hidden;
    content: "An avatar I made for where I'm at";
    transition: all .3s;
    font-size: 1.2em;
    background-color: #0003;
    line-height: 40px;
    color: white;
    pointer-events: none;
}

#wikiAvatar:hover::before {
    width: 200px;
    height: 80px;
}

#wikiAvatar::after {
    width: 0;
    height: 0;
    top: 40%;
    right: 50%;
    position: absolute;
    content: "";
    border-top: 0px solid white;
    border-left: 0px solid transparent;
    transition: all .3s;
    pointer-events: none;
}

#wikiAvatar:hover::after {
    border-top: 10px solid white;
    border-left: 10px solid transparent;
}

/* Origin */
#Map {
    width: 746px;
    height: 748px;
}

#obpf {
    fill: rgb(131, 199, 140);
    stroke: #c44;
    stroke-width: 2px;
}

.stadtgrau {
    fill: #E8EAED;
    pointer-events: none;
}

#Map .border {
    fill: transparent;
    stroke: #c44;
    stroke-width: 1px;
    transition: stroke-width .3s;
    cursor: pointer;
}

#Map .border:hover {
    fill: #fff3;
    stroke-width: 2px;
}

#Map line {
    stroke: #222;
    pointer-events: none;
}

#Map text {
    fill: #222;
    font-weight: bolder;
    text-shadow: 0 0 3px white;
}

text.here {
    font-weight: normal;
    display: none;
    transition: display .3s;
}

#Map circle {
    fill: #E8EAED;
    stroke: #c44;
}

/* Free time */
.basic {
    font-size: 3em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

fieldset {
    border: 2px solid;
}

#hint {
    font-family: 'Courier New', Courier, monospace;
    color: #cc3;
    font-size: .5em;
    text-align: left;
}

.desc {
    color: #fff7;
    font-size: 1.5rem;
}

#hobby-wrapper {
    display: none;
}

#places, #hobbies {
    display: flex;
    height: 40vh;
}

.place, .hobby {
    flex: 1 1;
}

.place {
    cursor: pointer;
}

.place h1 {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    pointer-events: none;
}

.place:hover {
    background-color: #3337;
}

#videos {
    background-color: #822d;
    background-image: url("assets/play-icon.png");
    background-position: center;
    opacity: .4;
}

#games {
    background-color: #325d;
    opacity: .4;
}

#programs {
    background-color: #247d;
    opacity: .4;
}

.hobby h2 {
    padding: .5em;
}

.hobby {
    text-shadow: 0 0 3px black;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 2em;
}

.hobby::-webkit-scrollbar {
    display: none;
}

.hobby p {
    display: none;
    margin: 0;
    padding: .5em;
}

.hobby .home {
    user-select: text;
}

.hasinfo {
    cursor: pointer;
}

.info {
    color: #aaa;
}

.ka {
    opacity: 0;
    cursor: pointer;
}

.test {
    display: none;
    width: 10px;
    height: 10px;
    background-color: #fff1;
    opacity: .1;
    position: absolute;
    bottom: 0;
    left: 0;
    user-select: text;
    cursor: pointer;
}

/* Goals */
#timepassed {
    width: 0%;
    height: 16px;
    background-color: #9d9;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: -1;
}

#timeleft {
    width: 0%;
    height: 10px;
    background-color: #444;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    z-index: -1;
}

#fin-marker {
    width: 2px;
    height: 14px;
    background-color: #777;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 25%;
    z-index: -1;
}

#diff {
    width: 0%;
    height: 12px;
    background-color: #6af5;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    z-index: -1;
}

#tl-slider {
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}

#tl-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #bee2;
    border: 1px solid #beef;
    width: 3px;
    height: 24px;
    cursor: ew-resize;
}

#tl-slider:focus::-webkit-slider-thumb {
    background-color: #bee5;
    border: 1px solid #beef;
}

h1.goal {
    transform: translateY(-100px);
    display: none;
}

/* elements on smaller screens (meh...) */
@media screen and (max-width: 860px) {
    header h1 {
        font-size: 2em;
    }

    nav a {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 760px) {
    #irl-img {
        margin-right: 0;
    }
}

@media screen and (max-width: 710px) {
    nav {
        transform: translate(0, 0);
    }

    nav a {
        display: inline-block;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 450px) {
    #imgs {
        display: flex;
        flex-wrap: wrap;
    }

    #imgs div {
        flex: 100%;
    }

    #imgs img {
        width: 100%;
    }

    #wikiAvatar:hover::before {
        width: 120px;
        height: 60px;
        line-height: 30px;
    }
}
